<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="koreatech.in.repository.user.OwnerMapper">

    <insert id="insertOwner">
        INSERT INTO koin.owners (user_id,
                                 company_registration_number)
        VALUES (#{id},
                #{company_registration_number});
    </insert>

    <insert id="insertOwnerShopAttachment" parameterType="koreatech.in.domain.User.owner.OwnerAttachments">
        INSERT INTO koin.owner_shop_attachment (
        shop_id,
        owner_id,
        url
        )
        VALUES
        <foreach item="ownerAttachment" collection="attachments" separator=",">
            (
            #{ownerAttachment.shopId},
            #{ownerAttachment.ownerId},
            #{ownerAttachment.url}
            )
        </foreach>
    </insert>
</mapper>