<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="koreatech.in.repository.UserMapper">

    <select id="getTotalCountByConditionForAdmin" parameterType="koreatech.in.domain.User.UsersCondition" resultType="integer">
        SELECT COUNT(*)
        FROM `koin`.`users`
        <if test="condition.query != null">
            WHERE
            <!-- 아우누리 아이디, 닉네임, 이름에서 모두 검색 -->
            <if test="condition.searchType.value == 0">
                REPLACE(`portal_account`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
                OR REPLACE(`nickname`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
                OR REPLACE(`name`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
            </if>

            <!-- 아우누리 아이디 검색 -->
            <if test="condition.searchType.value == 1">
                REPLACE(`portal_account`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
            </if>

            <!-- 닉네임 검색 -->
            <if test="condition.searchType.value == 2">
                REPLACE(`nickname`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
            </if>

            <!-- 이름 검색 -->
            <if test="condition.searchType.value == 3">
                REPLACE(`name`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
            </if>
        </if>
    </select>

    <select id="getUsersByConditionForAdmin" resultType="koreatech.in.dto.user.admin.UsersResponse$User">
        SELECT *
        FROM `koin`.`users`
        <if test="condition.query != null">
            WHERE
            <!-- 아우누리 아이디, 닉네임, 이름에서 모두 검색 -->
            <if test="condition.searchType.value == 0">
                REPLACE(`portal_account`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
                OR REPLACE(`nickname`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
                OR REPLACE(`name`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
            </if>

            <!-- 아우누리 아이디 검색 -->
            <if test="condition.searchType.value == 1">
                REPLACE(`portal_account`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
            </if>

            <!-- 닉네임 검색 -->
            <if test="condition.searchType.value == 2">
                REPLACE(`nickname`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
            </if>

            <!-- 이름 검색 -->
            <if test="condition.searchType.value == 3">
                REPLACE(`name`, ' ', '') LIKE CONCAT('%', REPLACE(#{condition.query}, ' ', ''), '%')
            </if>
        </if>
        ORDER BY `created_at`
        LIMIT #{cursor}, #{condition.limit}
    </select>
</mapper>