<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="koreatech.in.repository.user.StudentMapper">
    <select id="getStudentById" resultMap="studentResult">
        select * from koin.users as user
        join koin.students as student
        on user.id=student.student_id
        where user.id=#{id}
    </select>

    <insert id="insertStudent">
        INSERT IGNORE
        INTO koin.students (
            anonymous_nickname,
            student_number
            major,
            identity,
            is_graduated
        )
        VALUES (
            #{anonymousNickname},
            #{studentNumber},
            #{major},
            #{identity},
            #{isGraduated}
        );
        <selectKey keyProperty="id" resultType="Long">
                SELECT LAST_INSERT_ID();
            </selectKey>
    </insert>

    <delete id="deleteStudent">
        DELETE FROM koin.students WHERE ID = #{id};
    </delete>

    <resultMap id="studentResult" extends="userResultMap" type="koreatech.in.domain.user.student.Student">
        <result property="anonymousNickname" column="anonymous_nickname"/>
        <result property="studentNumber" column="student_number"/>
        <result property="major" column="major"/>
        <result property="isGraduated" column="is_graduated"/>
    </resultMap>

    <resultMap id="userResultMap" type="koreatech.in.domain.user.User">
        <id property="id" column="id"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="userType" column="user_type"/>
        <result property="isAuthed" column="is_authed"/>
        <result property="lastLoggedAt" column="last_logged_at"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="profileImageUrl" column="profile_image_url"/>
        <result property="authToken" column="auth_token"/>
        <result property="authExpiredAt" column="auth_expired_at"/>
        <result property="resetToken" column="reset_token"/>
        <result property="resetExpiredAt" column="reset_expired_at"/>
    </resultMap>
</mapper>